@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
:root {
  --primary-blue: hsl(231, 69%, 60%);
  --primary-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --dark-blue: hsl(229, 31%, 21%);
  --link-color: hsl(229, 8%, 60%);
  --body-fs: 18px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  line-height: 1.6;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: var(--body-fs);
  color: var(--grayish-blue);
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
}
@media all and (min-width: 768px) {
  .nav {
    padding: 2rem;
  }
}
.nav__logo {
  display: flex;
}
.nav__bar {
  list-style: none;
  display: none;
}
@media all and (min-width: 768px) {
  .nav__bar {
    display: flex;
  }
}
.nav__item {
  padding: 0 1rem;
}
.nav__item:not(:last-of-type)::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: var(--primary-red);
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}
.nav__item:hover::after {
  transform: scaleX(1);
}
.nav__link {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.15s ease-in-out, background 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
.nav__link:hover {
  color: var(--primary-red);
}
.nav__link--red {
  padding: 0.5rem 2rem;
  color: #fff;
  background: var(--primary-red);
  border: 1px solid var(--primary-red);
  border-radius: 5px;
}
.nav__link--red:hover {
  color: var(--primary-red);
  background: #fff;
}
.nav__toggle {
  width: 18px;
  height: 15px;
  background: url("../images/icon-hamburger.svg") no-repeat;
  cursor: pointer;
}
@media all and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}

.header {
  margin: 3rem 0 10rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
}
.header__info {
  padding: 0 2rem;
}
.header__img {
  position: relative;
}
.header__img::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 20%;
  border-top-left-radius: 35%;
  border-bottom-left-radius: 25%;
  display: block;
  background: var(--primary-blue);
  height: 75%;
  width: 100%;
}
@media all and (min-width: 768px) {
  .header__img::after {
    left: 35%;
  }
}
@media all and (min-width: 768px) {
  .header__img {
    flex: 100%;
    order: 1;
  }
}
.header__title {
  line-height: 1.3;
  color: var(--dark-blue);
  font-weight: 400;
}
.header__description {
  font-weight: 400;
  margin: 2rem 1rem;
}
@media all and (min-width: 768px) {
  .header__description {
    margin: 2rem 0;
  }
}
.header__btn {
  --link-color: #5e5e5e;
  padding: 0.8rem;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 0 10px var(--grayish-blue);
  font-size: 0.9rem;
}
@media all and (min-width: 768px) {
  .header__btn {
    padding: 1rem 1.5rem;
  }
}
.header__btn:first-child {
  color: #fff;
  background: var(--primary-blue);
}
.header__btn:last-child {
  margin-left: 0.5rem;
  color: var(--link-color);
  background: #f2f2f2;
}

/*# sourceMappingURL=style.css.map */
