@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
.contact__btn, .faq__btn, .card__cta, .header__btn {
  cursor: pointer;
  background: var(--primary-blue);
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  transition: opacity 0.25s ease-in-out;
  font-weight: 500;
  font-size: 0.9rem;
}
.contact__btn:hover, .faq__btn:hover, .card__cta:hover, .header__btn:hover {
  opacity: 0.9;
}

:root {
  --primary-blue: hsl(231, 69%, 60%);
  --primary-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --dark-blue: hsl(229, 31%, 21%);
  --link-color: hsl(229, 8%, 60%);
  --body-fs: 18px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  line-height: 1.6;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: var(--body-fs);
  color: var(--grayish-blue);
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

[class$=__title] {
  font-size: 1.8rem;
  color: var(--dark-blue);
  font-weight: 500;
  line-height: 1.2;
}

[class$=__description] {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 2rem 0;
}

[class$=__info] {
  padding: 0 2rem;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav.show {
  padding: 3rem;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-blue);
  color: #fff;
}
.nav.show .nav__bar {
  display: block;
  order: 3;
  margin-top: 3rem;
  width: 100%;
}
.nav.show .nav__item:hover::after {
  transform: scaleX(0);
}
.nav.show .nav__link {
  margin-top: 1rem;
  width: 100%;
  font-size: 2rem;
  border-top: 1px solid var(--grayish-blue);
}
.nav.show .nav__link:hover {
  color: #fff;
}
.nav.show .nav__link--red {
  background: var(--dark-blue);
  border-color: #fff;
  padding: 0;
}
.nav.show .nav__logo {
  filter: invert(20%) brightness(150%) contrast(100%);
  order: 1;
}
.nav.show .nav__toggle {
  order: 2;
  margin-left: auto;
}
.nav.show .nav__social {
  border-top: none;
  order: 4;
  display: flex;
  align-items: center;
  margin-top: auto;
}
.nav.show .nav__social > a {
  margin: 0 1rem;
}
@media all and (min-width: 43em) {
  .nav {
    padding: 2rem;
  }
}
.nav__logo {
  display: flex;
}
.nav__bar {
  list-style: none;
  display: none;
}
@media all and (min-width: 43em) {
  .nav__bar {
    display: flex;
  }
}
.nav__item {
  padding: 0 1rem;
}
.nav__item:not(:last-of-type)::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: var(--primary-red);
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}
.nav__item:hover::after {
  transform: scaleX(1);
}
.nav__link {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.15s ease-in-out, background 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
.nav__link:hover {
  color: var(--primary-red);
}
.nav__link--red {
  padding: 0.5rem 2rem;
  color: #fff;
  background: var(--primary-red);
  border: 1px solid var(--primary-red);
  border-radius: 5px;
}
.nav__link--red:hover {
  color: var(--primary-red);
  background: #fff;
}
.nav__social {
  display: none;
}
.nav__toggle {
  width: 18px;
  height: 15px;
  background: url("../images/icon-hamburger.svg") no-repeat;
  cursor: pointer;
  z-index: 1;
}
@media all and (min-width: 43em) {
  .nav__toggle {
    display: none;
  }
}
.nav__toggle.active {
  width: 16px;
  background: url("../images/icon-close.svg") no-repeat;
}

.header {
  margin: 3rem 0 10rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media all and (min-width: 43em) {
  .header {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
}
.header__img {
  position: relative;
}
.header__img::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 20%;
  border-top-left-radius: 35%;
  border-bottom-left-radius: 25%;
  display: block;
  background: var(--primary-blue);
  height: 75%;
  width: 100%;
}
@media all and (min-width: 43em) {
  .header__img::after {
    left: 35%;
  }
}
@media all and (min-width: 43em) {
  .header__img {
    flex: 100%;
    order: 1;
  }
}
.header__title {
  margin-top: 3rem;
}
.header__description {
  font-weight: 400;
}
@media all and (min-width: 43em) {
  .header__description {
    margin: 2rem 0;
  }
}
.header__btn {
  --link-color: #5e5e5e;
  padding: 0.8rem;
  box-shadow: 0 0 10px var(--grayish-blue);
  font-size: 0.9rem;
}
@media all and (min-width: 43em) {
  .header__btn {
    padding: 1rem 1.5rem;
  }
}
.header__btn:first-child {
  color: #fff;
  background: var(--primary-blue);
}
.header__btn:last-child {
  margin-left: 0.5rem;
  color: var(--link-color);
  background: #f2f2f2;
}

.features {
  text-align: center;
  padding: 0 2rem;
}

.tabs__control {
  display: flex;
  flex-direction: column;
}
.tabs__btn {
  text-decoration: none;
  color: var(--grayish-blue);
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  font-size: 1rem;
  font-weight: 400;
}
.tabs__btn:last-child {
  border-bottom: 1px solid #ddd;
}
.tabs__btn:hover {
  color: var(--dark-blue);
}

.download {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  text-align: center;
}
@media all and (min-width: 43em) {
  .download {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5rem;
  }
}
.download__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 10px #ccc;
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}
@media all and (min-width: 43em) {
  .card {
    flex: 0 0 25%;
    box-shadow: 0 0 0 var(--grayish-blue);
  }
  .card:nth-of-type(1) {
    transform: translateY(3rem);
  }
  .card:nth-of-type(2) {
    transform: translateY(6rem);
  }
  .card:nth-of-type(3) {
    transform: translateY(9rem);
  }
  .card:hover {
    box-shadow: 0 15px 25px var(--grayish-blue);
  }
}
.card__header {
  padding-top: 3rem;
}
.card__title {
  font-size: 1.25rem;
  font-weight: 500;
}
.card__description {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}
.card__body {
  padding: 1rem 0;
}
.card__footer {
  padding: 1rem 0;
}
.card__divider {
  align-self: stretch;
}
.card__cta {
  font-size: 0.9rem;
}

.faq {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 43em) {
  .faq {
    max-width: 60%;
    margin: 0 auto;
  }
}
.faq__title {
  text-align: center;
}
.faq__description {
  text-align: center;
}
.faq__box {
  position: relative;
}
.faq__question {
  color: var(--dark-blue);
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem 0;
}
.faq__question:hover {
  color: var(--primary-red);
}
.faq__question::after {
  content: "";
  background-image: url("../images/icon-arrow.svg");
  display: inline-block;
  width: 18px;
  height: 12px;
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.faq__question.active {
  color: var(--primary-red);
}
.faq__question.active::after {
  content: "";
  transform: rotateX(180deg);
  filter: hue-rotate(105deg);
}
.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 2;
  margin: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}
.faq__answer.show {
  max-height: 350px;
  padding-bottom: 1rem;
}
.faq__btn {
  margin-top: 2rem;
  align-self: center;
  font-size: 0.9rem;
  padding: 0.75rem 1.5rem;
}

.contact {
  background: var(--primary-blue);
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2.5rem 1rem;
}
.contact__title {
  color: #fff;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.contact__description {
  letter-spacing: 5px;
  font-size: 0.85rem;
  font-weight: 500;
}
.contact__form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.contact__input {
  padding: 1rem;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
}
.contact__input::placeholder {
  color: var(--grayish-blue);
}
.contact__btn {
  margin-top: 1rem;
  background: var(--primary-red);
  border: none;
  font-weight: 700;
}

.footer {
  background: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
.footer__logo {
  filter: invert(20%) brightness(150%) contrast(100%);
}
.footer__list {
  list-style: none;
  text-align: center;
  margin: 1rem 0;
}
.footer__item {
  margin: 1rem 0;
}
.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 400;
}
.footer__social {
  display: flex;
}
.footer__social > img {
  margin: 1rem;
}

.attribution {
  margin-top: 0.5rem;
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: #6678c2;
}

/*# sourceMappingURL=style.css.map */
