@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.contact__btn, .faq__btn, .card__cta, .tabs__cta, .header__btn {
  cursor: pointer;
  background: var(--primary-blue);
  color: #fff;
  padding: 0.75rem 2rem;
  border: 2px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  transition: background 0.25s ease-in-out, border 0.25s ease-in-out;
}

:root {
  --primary-blue: hsl(231, 69%, 60%);
  --primary-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --dark-blue: hsl(229, 31%, 21%);
  --link-color: hsl(229, 8%, 60%);
  --body-fs: 18px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  line-height: 1.6;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: var(--body-fs);
  color: var(--grayish-blue);
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}
@media all and (min-width: 82em) {
  .wrapper {
    overflow-x: visible;
  }
}

[class$=__title] {
  font-size: 1.8rem;
  color: var(--dark-blue);
  font-weight: 500;
  line-height: 1.2;
}
@media all and (min-width: 43em) {
  [class$=__title] {
    font-size: 1.8rem;
  }
}
@media all and (min-width: 62em) {
  [class$=__title] {
    font-size: 2rem;
  }
}

[class$=__description] {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 2rem 0;
}
@media all and (min-width: 43em) {
  [class$=__description] {
    font-size: 1rem;
  }
}
@media all and (min-width: 62em) {
  [class$=__description] {
    font-size: 1.15rem;
  }
}

[class$=__info] {
  padding: 0 2rem;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1rem 2rem;
  z-index: 1;
}
.nav.show {
  padding: 3rem;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-blue);
  color: #fff;
}
.nav.show .nav__bar {
  display: block;
  order: 3;
  margin-top: 3rem;
  width: 100%;
}
.nav.show .nav__item:hover::after {
  transform: scaleX(0);
}
.nav.show .nav__link {
  margin-top: 1rem;
  width: 100%;
  font-size: 1.5rem;
  border-top: 1px solid var(--grayish-blue);
}
.nav.show .nav__link:hover {
  color: #fff;
}
.nav.show .nav__link--red {
  background: var(--dark-blue);
  border-color: #fff;
  padding: 0.25rem 0;
}
.nav.show .nav__logo {
  filter: invert(20%) brightness(150%) contrast(100%);
  order: 1;
}
.nav.show .nav__toggle {
  order: 2;
  margin-left: auto;
}
.nav.show .nav__social {
  border-top: none;
  order: 4;
  display: flex;
  align-items: center;
  margin-top: auto;
}
.nav.show .nav__social > a {
  margin: 0 1rem;
}
@media all and (min-width: 43em) {
  .nav {
    padding: 2rem;
  }
}
.nav__logo {
  display: flex;
}
.nav__bar {
  list-style: none;
  display: none;
}
@media all and (min-width: 43em) {
  .nav__bar {
    display: flex;
  }
}
.nav__item {
  padding: 0 1rem;
}
.nav__item:not(:last-of-type)::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: var(--primary-red);
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}
.nav__item:hover::after {
  transform: scaleX(1);
}
.nav__link {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.15s ease-in-out, background 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
.nav__link:hover {
  color: var(--primary-red);
}
.nav__link--red {
  padding: 0.5rem 2rem;
  color: #fff;
  background: var(--primary-red);
  border: 1px solid var(--primary-red);
  border-radius: 5px;
}
.nav__link--red:hover {
  color: var(--primary-red);
  background: #fff;
}
.nav__social {
  display: none;
}
.nav__toggle {
  width: 18px;
  height: 15px;
  background: url("../images/icon-hamburger.svg") no-repeat;
  cursor: pointer;
  z-index: 1;
}
@media all and (min-width: 43em) {
  .nav__toggle {
    display: none;
  }
}
.nav__toggle.active {
  width: 16px;
  background: url("../images/icon-close.svg") no-repeat;
}

.header {
  margin: 3rem 0 10rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media all and (min-width: 43em) {
  .header {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
}
.header__img {
  position: relative;
  animation: fadeIn 1s ease-in-out;
}
.header__img::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 20%;
  border-top-left-radius: 35%;
  border-bottom-left-radius: 25%;
  display: block;
  background: var(--primary-blue);
  height: 75%;
  width: 100%;
  animation: slideInRight 0.75s ease;
}
@media all and (min-width: 43em) {
  .header__img::after {
    left: 35%;
  }
}
@media all and (min-width: 43em) {
  .header__img {
    flex: 100%;
    order: 1;
  }
}
.header__title {
  margin-top: 3rem;
  animation: slideInTop 0.75s ease-in-out;
}
@media all and (min-width: 43em) {
  .header__title {
    font-size: 2rem;
  }
}
@media all and (min-width: 62em) {
  .header__title {
    font-size: 4rem;
  }
}
.header__description {
  font-weight: 400;
  animation: slideInLeft 1s ease-in-out;
}
@media all and (min-width: 43em) {
  .header__description {
    font-size: 1rem;
  }
}
@media all and (min-width: 62em) {
  .header__description {
    margin: 3rem 0;
    font-size: 1.5rem;
  }
}
.header__btn {
  --link-color: #5e5e5e;
  opacity: 0;
  padding: 0.8rem;
  box-shadow: 0 0 10px var(--grayish-blue);
  font-size: 0.75rem;
  animation: fadeIn 0.5s ease-in-out forwards;
}
@media all and (min-width: 43em) {
  .header__btn {
    padding: 1rem 1.5rem;
    font-size: 0.9rem;
  }
}
.header__btn:first-child {
  color: #fff;
  background: var(--primary-blue);
  animation-delay: 1s;
}
.header__btn:first-child:hover {
  background: #fff;
  border-color: var(--primary-blue);
  color: var(--primary-blue);
}
.header__btn:last-child {
  margin-left: 0.5rem;
  color: var(--link-color);
  background: #f2f2f2;
  animation-delay: 1.25s;
}
.header__btn:last-child:hover {
  background: #fff;
  border-color: var(--dark-blue);
}

.features {
  text-align: center;
  padding: 0 1.7rem;
}
@media all and (min-width: 43em) {
  .features__description {
    margin: 2rem auto;
    max-width: 50%;
  }
}

.tabs__control {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
@media all and (min-width: 43em) {
  .tabs__control {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.tabs__control::after {
  content: "";
  width: 90%;
  background: #ddd;
}
@media all and (min-width: 43em) {
  .tabs__control::after {
    height: 1px;
  }
}
.tabs__btn {
  text-decoration: none;
  color: var(--grayish-blue);
  padding: 1rem 0;
  font-size: 1rem;
  border-top: 1px solid #ddd;
}
.tabs__btn:last-child {
  border-bottom: 1px solid #ddd;
}
@media all and (min-width: 43em) {
  .tabs__btn:last-child {
    border: none;
  }
}
@media all and (min-width: 43em) {
  .tabs__btn {
    border: none;
    padding: 1rem 3rem;
  }
}
.tabs__btn:hover {
  color: var(--dark-blue);
}
.tabs__btn.active {
  color: var(--primary-red);
  border-bottom: 4px solid var(--primary-red);
}
.tabs__content {
  display: none;
}
.tabs__content.active {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 43em) {
  .tabs__content.active {
    flex-direction: row;
    align-items: center;
  }
}
.tabs__info {
  animation: slideInRight 0.5s ease-in-out;
}
@media all and (min-width: 43em) {
  .tabs__info {
    text-align: right;
    flex: 75%;
  }
}
@media all and (min-width: 62em) {
  .tabs__info {
    text-align: left;
    flex: 50%;
    margin-left: 5rem;
    max-width: 50%;
  }
}
.tabs__img {
  position: relative;
  animation: fadeIn 0.5s ease-in-out;
}
.tabs__img::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -10%;
  left: -70%;
  border-top-right-radius: 35%;
  border-bottom-right-radius: 25%;
  display: block;
  background: var(--primary-blue);
  height: 75%;
  width: 130%;
  animation: slideInLeft 0.5s linear;
}
.tabs__title {
  margin-top: 3rem;
}
.download {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  text-align: center;
}
@media all and (min-width: 43em) {
  .download {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2rem;
    margin: 10rem 0;
  }
}
@media all and (min-width: 62em) {
  .download {
    padding: 0 5rem;
  }
}
@media all and (min-width: 43em) {
  .download__info {
    margin: 0 5rem;
  }
}
@media all and (min-width: 62em) {
  .download__info {
    margin: 0 15rem;
  }
}
.download__title {
  margin-bottom: 1rem;
}
.download__cards {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 43em) {
  .download__cards {
    flex-direction: row;
    width: 100%;
  }
}

.card {
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 10px 10px #ccc;
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}
@media all and (min-width: 43em) {
  .card {
    box-shadow: 0 0 0 var(--grayish-blue);
    margin: 0 auto;
  }
  .card:nth-child(0) {
    transform: translateY(0rem);
  }
  .card:nth-child(1) {
    transform: translateY(2rem);
  }
  .card:nth-child(2) {
    transform: translateY(4rem);
  }
  .card:nth-child(3) {
    transform: translateY(6rem);
  }
  .card:hover {
    box-shadow: 0 15px 25px var(--grayish-blue);
  }
}
.card__header {
  padding-top: 3rem;
}
.card__title {
  font-size: 1.25rem;
  font-weight: 500;
}
.card__description {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}
.card__body {
  padding: 1rem 0;
}
.card__footer {
  padding: 1rem 0;
}
.card__divider {
  align-self: stretch;
}
.card__cta {
  font-size: 0.9rem;
}
@media all and (min-width: 43em) {
  .card__cta {
    padding: 0.75rem 1.5rem;
  }
}
.card__cta:hover {
  background: #fff;
  border: 2px solid var(--primary-blue);
  color: var(--primary-blue);
}

.faq {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 43em) {
  .faq {
    max-width: 75%;
    margin: 5rem auto;
  }
}
@media all and (min-width: 62em) {
  .faq {
    max-width: 50%;
  }
}
.faq__title {
  text-align: center;
}
.faq__description {
  text-align: center;
}
@media all and (min-width: 43em) {
  .faq__description {
    margin: 2rem auto;
    max-width: 50%;
  }
}
@media all and (min-width: 43em) {
  .faq__description {
    max-width: 75%;
  }
}
.faq__box {
  position: relative;
}
.faq__question {
  color: var(--dark-blue);
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem 0;
}
@media all and (min-width: 43em) {
  .faq__question {
    font-size: 1.2rem;
  }
}
.faq__question:hover {
  color: var(--primary-red);
}
.faq__question::after {
  content: "";
  background-image: url("../images/icon-arrow.svg");
  display: inline-block;
  width: 18px;
  height: 12px;
  transition: transform 0.5s ease-out, filter 0.5s ease-in-out;
}
.faq__question.active::after {
  content: "";
  transform: rotateX(180deg);
  filter: hue-rotate(105deg);
}
.faq__answer {
  max-height: 0;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 2;
  margin: 0.5rem 0;
  border-bottom: 1px solid #ccc;
  transition: max-height 0.5s ease-out;
}
@media all and (min-width: 43em) {
  .faq__answer {
    font-size: 1.1rem;
  }
}
.faq__answer.show {
  max-height: 350px;
  padding-bottom: 1rem;
}
.faq__btn {
  margin-top: 2rem;
  align-self: center;
  font-size: 0.9rem;
  padding: 0.75rem 1.5rem;
}

.contact {
  background: var(--primary-blue);
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1rem;
}
.contact__title {
  color: #fff;
  margin: 1rem 0;
}
@media all and (min-width: 43em) {
  .contact__title {
    max-width: 50%;
  }
}
@media all and (min-width: 62em) {
  .contact__title {
    max-width: 25%;
  }
}
.contact__description {
  letter-spacing: 5px;
  font-weight: 500;
}
.contact__form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  position: relative;
}
@media all and (min-width: 43em) {
  .contact__form {
    flex-direction: row;
    align-self: center;
  }
}
.contact__form.error .contact__box {
  background: var(--primary-red);
}
.contact__form.error .icon-error {
  display: inline;
}
.contact__form.error .msg-error {
  display: block;
}
.contact__box {
  padding: 2px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
}
.contact__box .icon-error {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5%;
  top: 25%;
  background: url("../images/icon-error.svg");
  z-index: 1;
  display: none;
}
.contact__box .msg-error {
  display: none;
  padding-top: 3px;
  padding-left: 0.5rem;
  font-size: 0.75rem;
  text-align: left;
  font-weight: 500;
  font-style: italic;
}
.contact__input {
  padding: 1rem;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  z-index: 1;
}
.contact__input.error {
  border: 1px solid var(--primary-red);
}
@media all and (min-width: 43em) {
  .contact__input {
    padding: 0.75rem 1rem;
  }
}
.contact__input::placeholder {
  color: var(--grayish-blue);
}
.contact__btn {
  margin-top: 1rem;
  background: var(--primary-red);
  border: 2px solid transparent;
  font-weight: 700;
}
@media all and (min-width: 43em) {
  .contact__btn {
    margin-top: 0;
    margin-left: 1rem;
  }
}
.contact__btn:hover {
  background: #fff;
  border: 2px solid var(--primary-red);
  color: var(--primary-red);
}

.footer {
  background: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
@media all and (min-width: 62em) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
  }
}
.footer__logo {
  filter: invert(20%) brightness(150%) contrast(100%);
}
@media all and (min-width: 62em) {
  .footer__logo {
    margin-left: 15rem;
  }
}
.footer__list {
  list-style: none;
  text-align: center;
  margin: 1rem 0;
}
@media all and (min-width: 43em) {
  .footer__list {
    display: flex;
  }
}
@media all and (min-width: 62em) {
  .footer__list {
    display: flex;
    margin-left: 3rem;
    margin-right: auto;
  }
}
.footer__item {
  margin: 1rem 0;
}
@media all and (min-width: 43em) {
  .footer__item {
    margin-left: 2rem;
  }
}
.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 400;
}
.footer__link:hover {
  color: var(--primary-red);
}
.footer__social {
  display: flex;
}
@media all and (min-width: 62em) {
  .footer__social {
    margin-right: 10rem;
  }
}
.footer__social > img {
  margin: 0 1rem;
  cursor: pointer;
}

.attribution {
  font-size: 0.9rem;
  text-align: center;
  background: #1c365e;
}
.attribution a {
  color: #5f96c8;
}

/*# sourceMappingURL=style.css.map */
