.contact{
  background: var(--primary-blue);
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1rem;
  
  &__title{
    color: #fff;
    margin: 1rem 0;

    @include mediaMin($small){
      max-width: 50%;
    }
    @include mediaMin($medium){
      max-width: 25%;
    }
  }

  &__description{
    letter-spacing: 5px;
    font-weight: $fw-bold;
  }

  &__form{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    position: relative;

    @include mediaMin($small){
      flex-direction: row;
      align-self: center;
    }

    &.error{

      .contact__box{
        background: var(--primary-red);
      }
      .icon-error{
        display: inline;
      }
      .msg-error{
        display: block;
      }
    }
  }

  &__box{
    padding: 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;


    .icon-error{
      position: absolute;
      width: 20px;
      height: 20px;
      right: 5%;
      top: 25%;
      background: url('../images/icon-error.svg');
      z-index: 1;
      display: none;
    }

    .msg-error{
      display: none;
      padding-top: 3px;
      padding-left: 0.5rem;
      font-size: 0.75rem;
      text-align: left;
      font-weight: $fw-bold;
      font-style: italic;
    }

    

  }
  &__input{
    padding: 1rem;
    font-size: 0.9rem;
    border-radius: 5px;
    border: none;
    z-index: 1;
    &.error{
      border: 1px solid var(--primary-red);
    }
    @include mediaMin($small){
      padding: 0.75rem 1rem;
    }

    &::placeholder{
      color: var(--grayish-blue);
    }
  }

  &__btn{
    @extend %btn;
    margin-top: 1rem;
    background: var(--primary-red);
    border: 2px solid transparent;
    font-weight: $fw-bolder;


    @include mediaMin($small){
      margin-top: 0;
      margin-left: 1rem;
    }

    &:hover{
      background: #fff;
      border: 2px solid var(--primary-red);
      color: var(--primary-red);
    }
  }
}
