%btn{
  cursor: pointer;
  background: var(--primary-blue);
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  transition: opacity 0.25s ease-in-out;
  &:hover{
    opacity: 0.9;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

$ff: 'Rubik', sans-serif;
$fw-normal: 400;
$fw-bold: 500;

$desktop: 768px;

@mixin mediaMin($bp){
  @media all and (min-width: #{$bp}){
    @content;
  }
}

:root{
  --primary-blue: hsl(231, 69%, 60%);
  --primary-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --dark-blue: hsl(229, 31%, 21%);
  --link-color: hsl(229, 8%, 60%);
  --body-fs: 18px;

}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
}
body{
  width: 100%;
  line-height: 1.6;
  font-family: $ff;
  font-weight: $fw-normal;
  font-size: var(--body-fs);
  color: var(--grayish-blue);
  overflow-x: hidden;
}
img{
  width: 100%;
  height: auto;
}

.wrapper{ 
  max-width: 1440px;
  margin: 0 auto;
}

// COMMON STYLES
[class$="__title"]{
  color: var(--dark-blue);
}

[class$='__description']{
  font-size: 1.1rem;
  padding: 0 4rem;
}

//  ##########
//  NAVIGATION
//  ##########
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  
  @include mediaMin($desktop){
    padding: 2rem;
  }

  &__logo{
    display: flex;
  }

  &__bar{
    list-style: none;
    display: none;

    @include mediaMin($desktop){
      display: flex;
    }
  }

  &__item{
    padding: 0 1rem;

    &:not(:last-of-type)::after{
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background: var(--primary-red);;
      transform: scaleX(0);
      transition: transform 0.25s ease-in-out;
    }

    &:hover::after{
      transform: scaleX(1);
    }
  }

  &__link{
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.15s ease-in-out, background 0.15s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    font-size: 0.9rem;
    letter-spacing: 2px;

    &:hover{
      color: var(--primary-red);
    }

    &--red{
      padding: 0.5rem 2rem;
      color: #fff;
      background: var(--primary-red);
      border: 1px solid var(--primary-red);
      border-radius: 5px;

      &:hover{
        color: var(--primary-red);
        background: #fff;
      }
    }
  }

  &__toggle{
    width: 18px;
    height: 15px;
    background: url('../images/icon-hamburger.svg') no-repeat;
    cursor: pointer;

    @include mediaMin($desktop){
      display: none;
    }
  }
}


//  ##########
//    HEADER
//  ##########
.header{
  margin: 3rem 0 10rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;

  @include mediaMin($desktop){
    flex-direction: row;
    align-items: center;
    text-align: left;

  }

  &__info{
    padding: 0 2rem;

  }

  &__img{
    position: relative;

    &::after{
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 20%;
      border-top-left-radius: 35%;
      border-bottom-left-radius: 25%;
      display: block;
      background: var(--primary-blue);
      height: 75%;
      width: 100%;

      @include mediaMin($desktop){
        left: 35%;
      }    
    }
    
    @include mediaMin($desktop){
      flex: 100%;
      order: 1; 
    }
  }

  &__title{
    line-height: 1.3;
    font-weight: $fw-normal;
  }

  &__description{
    font-weight: $fw-normal;
    margin: 2rem 1rem;

    @include mediaMin($desktop){
      margin: 2rem 0;
    }
  }

  &__btn{
    @extend %btn;
    --link-color: #5e5e5e;
    
    padding: 0.8rem;
    box-shadow: 0 0 10px var(--grayish-blue);
    font-size: 0.9rem;
    
    @include mediaMin($desktop){
      padding: 1rem 1.5rem;
    }

    &:first-child{
      color: #fff;
      background: var(--primary-blue);
    }
    &:last-child{
      margin-left: 0.5rem;
      color: var(--link-color);
      background: #f2f2f2;
    }
  }
}

//  ########
//  FEATURES
//  ########
.features{
  text-align: center;
  padding: 0 2rem;

  &__description{
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

}

.tabs{
  
  &__control{
    display: flex;
    flex-direction: column;
  }

  &__btn{
    text-decoration: none;
    color: var(--grayish-blue);
    padding: 1.5rem 0;
    border-top: 1px solid var(--grayish-blue);

    &:last-child{
      border-bottom: 1px solid var(--grayish-blue);
    }

    &:hover{
      color: var(--dark-blue);
    }
  }
}

//  ################
//  SECTION DOWNLOAD
//  ################
.download{
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  text-align: center;
  align-items: center;

  &__title,
  &__description{
    flex: 100%;
  }
  
  @include mediaMin($desktop){
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5rem;
  }

}

//  #####
//  CARDS
//  #####
.card{
  margin: 3rem auto;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;

  @include mediaMin($desktop){
    flex: 0 0 25%;

    @for $i from 1 through 3{
      &:nth-of-type(#{$i}){
        transform: translateY(($i * 3) + rem);
      }
    } 
  }

  &:hover{
    box-shadow: 0 15px 25px var(--grayish-blue);
  }

  &__header{
    padding-top: 3rem;
  }
  &__title{
    font-size: 1.25rem;
    font-weight: $fw-bold;
  }
  &__description{
    font-size: 0.9rem;
  }
  &__body{
    padding: 2rem 0;
  }
  &__footer{
    padding: 1rem 0;
  }
  &__divider{
    align-self: stretch;
  }
  &__cta{
    @extend %btn;
    font-size: 1rem;
  }
}

//  ###########
//  SECTION FAQ
//  ###########
.faq{
  padding: 3rem;
  display: flex;
  flex-direction: column;

  @include mediaMin($desktop){
    max-width: 60%;
    margin: 0 auto;
  }

  &__title{
    text-align: center;
  }

  &__description{
    text-align: center;
    margin: 2rem 0
  }


  &__box{
    position: relative;
  }

  &__question{
    color: var(--grayish-blue);
    font-weight: $fw-normal;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem 0;

    &:hover{
      color: var(--primary-red);
    }

    &::after{
      content: '';
      background-image: url('../images/icon-arrow.svg');
      display: inline-block;
      width: 18px;
      height: 12px;
      transition: transform 0.5s ease-in-out;
    }

    &.active{
      color: var(--primary-red);

      &::after{
        content: '';
        transform: rotateX(180deg);
      }
    }
  }
  &__answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 2.5;
    margin: 0.5rem 0;
    border-bottom: 1px solid var(--grayish-blue);

    &.show{
      max-height: 350px;
    }
  }

  &__btn{
    @extend %btn;
    margin-top: 2rem;
    align-self: center;
  }
}