@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

$ff: 'Rubik', sans-serif;
$fw-light: 300;
$fw-normal: 400;
$fw-bold: 500;
$fw-bolder: 700;

// BREAKPOINTS
$small: 43em;     // 688px
$medium: 62em;    // 992px
$large: 82em;     // 1312px

@keyframes slideInRight{
  0%{
    opacity: 0;
    transform: translateX(100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft{
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes slideInTop{
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

%btn{
  cursor: pointer;
  background: var(--primary-blue);
  color: #fff;
  padding: 0.75rem 2rem;
  border: 2px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  font-weight: $fw-bold;
  font-size: 0.9rem;
  transition: background 0.25s ease-in-out, border 0.25s ease-in-out;
}


@mixin mediaMin($bp){
  @media all and (min-width: #{$bp}){
    @content;
  }
}

:root{
  --primary-blue: hsl(231, 69%, 60%);
  --primary-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --dark-blue: hsl(229, 31%, 21%);
  --link-color: hsl(229, 8%, 60%);
  --body-fs: 18px;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  line-height: 1.6;
  font-family: $ff;
  font-weight: $fw-normal;
  font-size: var(--body-fs);
  color: var(--grayish-blue);
  overflow-x: hidden;
}
img{
  width: 100%;
  height: auto;
}
.wrapper{ 
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;

  @include mediaMin($small){
    overflow-x: visible;
  }
}

// COMMON STYLES
[class$="__title"]{
  font-size: 1.8rem;
  color: var(--dark-blue);
  font-weight: $fw-bold;
  line-height: 1.2;

  @include mediaMin($small){
    font-size: 2rem;
  }
}

[class$='__description']{
  font-size: 0.9rem;
  font-weight: $fw-normal;
  margin: 2rem 0;

  @include mediaMin($small){
    font-size: 1.2rem;
  }
}
[class$='__info']{
  padding: 0 2rem;
}

//  ##########
//  NAVIGATION
//  ##########
.nav{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1rem 2rem;
  z-index: 1;

  &.show{
    padding: 3rem;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--dark-blue);
    color: #fff;

    & .nav__bar{
      display: block;
      order: 3;
      margin-top: 3rem;
      width: 100%;
    }
    
    & .nav__item{
      &:hover::after{
        transform: scaleX(0);
      }
    }

    & .nav__link{
      margin-top: 1rem;
      width: 100%;
      font-size: 1.5rem;
      border-top: 1px solid var(--grayish-blue);

      &:hover{
        color: #fff;
      }

      &--red{
        background: var(--dark-blue);
        border-color: #fff;
        padding: 0.25rem 0;
      }
    }

    & .nav__logo{
      filter: invert(20%) brightness(150%) contrast(100%);
      order: 1;
    }

    & .nav__toggle{
      order: 2;
      margin-left: auto;
    }

    & .nav__social{
      border-top: none;
      order: 4;
      display: flex;
      align-items: center;
      margin-top: auto;

      > a{
        margin: 0 1rem;
      }
    }
  }
  
  @include mediaMin($small){
    padding: 2rem;
  }

  &__logo{
    display: flex;
  }

  &__bar{
    list-style: none;
    display: none;

    @include mediaMin($small){
      display: flex;
    }

  }

  &__item{
    padding: 0 1rem;

    &:not(:last-of-type)::after{
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background: var(--primary-red);;
      transform: scaleX(0);
      transition: transform 0.25s ease-in-out;
    }

    &:hover::after{
      transform: scaleX(1);
    }
  }

  &__link{
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.15s ease-in-out, background 0.15s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    font-size: 0.9rem;
    letter-spacing: 2px;

    &:hover{
      color: var(--primary-red);
    }

    &--red{
      padding: 0.5rem 2rem;
      color: #fff;
      background: var(--primary-red);
      border: 1px solid var(--primary-red);
      border-radius: 5px;

      &:hover{
        color: var(--primary-red);
        background: #fff;
      }
    }
  }

  &__social{
    display: none;
  }

  &__toggle{
    width: 18px;
    height: 15px;
    background: url('../images/icon-hamburger.svg') no-repeat;
    cursor: pointer;
    z-index: 1;

    @include mediaMin($small){
      display: none;
    }

    &.active{
      width: 16px;
      background: url('../images/icon-close.svg') no-repeat;
    }
  }
}


//  ##########
//    HEADER
//  ##########
.header{
  margin: 3rem 0 10rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;

  @include mediaMin($small){
    flex-direction: row;
    align-items: center;
    text-align: left;

  }

  &__img{
    position: relative;
    animation: fadeIn 1s ease-in-out;

    &::after{
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 20%;
      border-top-left-radius: 35%;
      border-bottom-left-radius: 25%;
      display: block;
      background: var(--primary-blue);
      height: 75%;
      width: 100%;
      animation: slideInRight 0.5s linear;

      @include mediaMin($small){
        left: 35%;
      }    
    }
    
    @include mediaMin($small){
      flex: 100%;
      order: 1; 
    }
  }

  &__title{
    margin-top: 3rem;
    animation: slideInTop 0.5s ease-in-out;

    @include mediaMin($small){
      font-size: 4rem;
    }
  }

  &__description{
    font-weight: $fw-normal;
    animation: slideInLeft 0.5s ease-in-out;

    @include mediaMin($small){
      margin: 3rem 0;
      font-size: 1.5rem;
    }
  }

  &__btn{
    @extend %btn;
    --link-color: #5e5e5e;    
    opacity: 0;
    padding: 0.8rem;
    box-shadow: 0 0 10px var(--grayish-blue);
    font-size: 0.75rem;
    animation: fadeIn 0.5s ease-in-out forwards;

    @include mediaMin($small){
      padding: 1rem 1.5rem;
      font-size: 0.9rem;
    }


    &:first-child{
      color: #fff;
      background: var(--primary-blue);
      animation-delay: 0.5s;

      &:hover{
        background: #fff;
        border-color: var(--primary-blue);
        color: var(--primary-blue);
      }  
    }
    &:last-child{
      margin-left: 0.5rem;
      color: var(--link-color);
      background: #f2f2f2;
      animation-delay: 0.75s;

      &:hover{
        background: #fff;
        border-color: var(--dark-blue);
      }
    }
  }
}
//  ########
//  FEATURES
//  ########
.features{
  text-align: center;
  padding: 0 1.7rem;

  &__description{
    @include mediaMin($small){
      margin: 2rem auto;
      max-width: 50%;
    }
  }
}

.tabs{
  
  &__control{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    
    @include mediaMin($small){
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    &::after{
      content: '';
      width: 90%;
      background: #ddd;

      @include mediaMin($small){
        height: 1px;
      }
    }
  }

  &__btn{
    text-decoration: none;
    color: var(--grayish-blue);
    padding: 1rem 0;
    font-size: 1rem;
    border-top: 1px solid #ddd;

    &:last-child{
      border-bottom: 1px solid #ddd;
      @include mediaMin($small){
        border: none;
      }
    }

    @include mediaMin($small){
      border: none;
      padding: 1rem 3rem;
    }
    &:hover{
      color: var(--dark-blue);

    }
    &.active{
      color: var(--primary-red);
      border-bottom: 4px solid var(--primary-red);
    }
  }

  &__content{
    display: none;
    &.active{
      display: flex;
      flex-direction: column;

      @include mediaMin($small){
        flex-direction: row;
      }
    }
  }

  &__info{
    animation: slideInRight 0.5s ease-in-out;

    @include mediaMin($medium){
      text-align: left;
      flex: 50%;
      margin-left: 5rem;
      max-width: 50%;
    }
  }

  &__img{
    position: relative;
    animation: fadeIn 0.5s ease-in-out;

    &::after{
      content: "";
      position: absolute;
      z-index: -1;
      bottom: -10%;
      left: -70%;
      border-top-right-radius: 35%;
      border-bottom-right-radius: 25%;
      display: block;
      background: var(--primary-blue);
      height: 75%;
      width: 130%;
      animation: slideInLeft 0.5s linear;
    }
  }

  &__title{
    margin-top: 3rem;
  }
  &__cta{
    @extend %btn;
  }
}

//  ########
//  DOWNLOAD
//  ########
.download{
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  text-align: center;
  
  @include mediaMin($small){
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5rem;
    margin: 10rem 0;
  }

  &__info{
    @include mediaMin($small){
      margin: 0 15rem;
    }
  }
  &__title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  &__cards{
    display: flex;
    flex-direction: column;

    @include mediaMin($small){
      flex-direction: row;
      width: 100%;
    }
  }
}

//  #####
//  CARDS
//  #####
.card{
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 10px 10px #ccc;
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
  
  @include mediaMin($small){
    box-shadow: 0 0 0 var(--grayish-blue);
    margin: 0 auto;



    @for $i from 0 through 3{
      &:nth-child(#{$i}){
        transform: translateY(($i * 1.5) + rem);
      }
    } 
    &:hover{
      box-shadow: 0 15px 25px var(--grayish-blue);
    }
  }


  &__header{
    padding-top: 3rem;
  }
  &__title{
    font-size: 1.25rem;
    font-weight: $fw-bold;
  }
  &__description{
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }
  &__body{
    padding: 1rem 0;
  }
  &__footer{
    padding: 1rem 0;
  }
  &__divider{
    align-self: stretch;
  }
  &__cta{
    @extend %btn;
    font-size: 0.9rem;

    &:hover{
      background: #fff;
      border: 2px solid var(--primary-blue);
      color: var(--primary-blue);
    }
  }
}

//  ###########
//  SECTION FAQ
//  ###########
.faq{
  padding: 2rem;
  display: flex;
  flex-direction: column;

  @include mediaMin($small){
    max-width: 50%;
    margin: 5rem auto;
  }

  &__title{
    text-align: center;
  }

  &__description{
    text-align: center;
   
    @include mediaMin($small){
      margin: 2rem auto;
      max-width: 50%;
    }
  }


  &__box{
    position: relative;
  }

  &__question{
    color: var(--dark-blue);
    font-weight: $fw-normal;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem 0;

    @include mediaMin($small){
      font-size: 1.2rem;
    }

    &:hover{
      color: var(--primary-red);
    }

    &::after{
      content: '';
      background-image: url('../images/icon-arrow.svg');
      display: inline-block;
      width: 18px;
      height: 12px;
      transition: transform 0.5s ease-out, filter 0.5s ease-in-out;
    }

    &.active{
      &::after{
        content: '';
        transform: rotateX(180deg);
        filter: hue-rotate(105deg);
      }
    }
  }

  &__answer{
    max-height: 0;
    overflow: hidden;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 2;
    margin: 0.5rem 0;
    border-bottom: 1px solid #ccc;
    transition: max-height 0.5s ease-out;

    @include mediaMin($small){
      font-size: 1.1rem;
    }

    &.show{
      max-height: 350px;
      padding-bottom: 1rem;
    }
  }

  &__btn{
    @extend %btn;
    margin-top: 2rem;
    align-self: center;
    font-size: 0.9rem;
    padding: 0.75rem 1.5rem;
  }
}

//  ###############
//  SECTION CONTACT
//  ###############
.contact{
  background: var(--primary-blue);
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2.5rem 1rem;

  &__title{
    color: #fff;
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  &__description{
    letter-spacing: 5px;
    font-size: 0.85rem;
    font-weight: $fw-bold;
  }

  &__form{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    position: relative;

    @include mediaMin($small){
      flex-direction: row;
      align-self: center;
    }
  }
  &__input{
    padding: 1rem;
    font-size: 0.9rem;
    border-radius: 5px;
    border: none;
    z-index: 1;
    &.error{
      border: 1px solid var(--primary-red);
    }
    @include mediaMin($small){
      padding: 0.75rem 1rem;
    }

    &::placeholder{
      color: var(--grayish-blue);
    }
  }

  &__error{
    background: var(--primary-red);
    position: absolute;
    bottom: -1rem;
    left: 0;
    display: flex;
    padding-left: 1rem;
    font-size: 0.75rem;
    width: 59%;
  }

  &__btn{
    @extend %btn;
    margin-top: 1rem;
    background: var(--primary-red);
    border: 2px solid transparent;
    font-weight: $fw-bolder;


    @include mediaMin($small){
      margin-top: 0;
      margin-left: 1rem;
    }

    &:hover{
      background: #fff;
      border: 2px solid var(--primary-red);
      color: var(--primary-red);
    }
  }
}

//  ######
//  FOOTER
//  ######
.footer{
  background: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;

  @include mediaMin($medium){
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
  }

  &__logo{
    filter: invert(20%) brightness(150%) contrast(100%);
    @include mediaMin($medium){
      margin-left: 15rem;
    }
  }
  &__list{
    list-style: none;
    text-align: center;
    margin: 1rem 0;

    @include mediaMin($small){
      display: flex;
    }

    @include mediaMin($medium){
      display: flex;
      margin-left: 3rem;
      margin-right: auto;
    }
  }
  &__item{
    margin: 1rem 0;

    @include mediaMin($small){
      margin-left: 2rem;
    }
  }
  &__link{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 400;

    &:hover{
      color: var(--primary-red);
    }
  }
  &__social{
    display: flex;

    @include mediaMin($medium){
      margin-left: auto;
      margin-right: 5rem;
    }

    > img{
      margin: 0 1rem;
      cursor: pointer;
    }
  }
}